
$background-color: #003049;
$primary-color: #4880ff;
$dark-blue: #3558AB;
$secondary-color: #FF7E43;
$kbd-border-radius: 10px;
$text-field-border-radius: 8px;


$white: #ffffff;
$menu-color: #313945;